---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00003901/relaciones?administracion=E00003901&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"S2826007C"}],"administracion":{"nombre":"Ministerio
        de Justicia","codigo_dir":"E00003901","cifs":[]},"id":57416,"og":{"codigo_dir":"E00130903","nombre":"Abogac\u00eda
        General del Estado - Direcci\u00f3n del Servicio Jur\u00eddico del Estado"},"ut":{"codigo_dir":"E03136503","nombre":"Secretaria
        General"},"oc":{"codigo_dir":"GE0014052","nombre":"Oficina Contable. I.D.
        Ministerio de Justicia"}},{"cifs":[{"nif":"Q2813002I"},{"nif":"Q28130021"}],"administracion":{"nombre":"Ministerio
        de Justicia","codigo_dir":"E00003901","cifs":[]},"id":7941,"og":{"codigo_dir":"E00131802","nombre":"Centro
        de Estudios Juridicos"},"ut":{"codigo_dir":"EA0003224","nombre":"Unidad Tramitadora
        de Caja del Centro de Estudios Jur\u00eddicos"},"oc":{"codigo_dir":"EA0003225","nombre":"Oficina
      [...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00003901/relaciones?administracion=E00003901&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"63","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:01:33 GMT
[...]
