---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921301/relaciones?administracion=E04921301&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"Q2801335G"}],"administracion":{"nombre":"Ministerio
        de Hacienda y Administraciones Publicas","codigo_dir":"E04921301","cifs":[]},"id":2196,"og":{"codigo_dir":"EA0000096","nombre":"I.D.
        Organizacion Nacional de Trasplantes"},"ut":{"codigo_dir":"EA0000096","nombre":"I.D.
        Organizacion Nacional de Trasplantes"},"oc":{"codigo_dir":"EA0000096","nombre":"I.D.
        Organizacion Nacional de Trasplantes"}},{"cifs":[{"nif":"Q2826000H"},{"nif":"H2826000H"}],"administracion":{"nombre":"Ministerio
        de Hacienda y Administraciones Publicas","codigo_dir":"E04921301","cifs":[]},"id":3190,"og":{"codigo_dir":"E04767701","nombre":"Servicio
        de Gestion Economica"},"ut":{"codigo_dir":"E04767701","nombre":"Servicio de
        Gestion Economica"},"oc":{"codigo_dir":"E04125502","nombre":"SERVICIOS CENTRALES"}},{[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921301/relaciones?administracion=E04921301&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"429","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 13:59:54 GMT
[...]
