---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05072201/relaciones?administracion=E05072201&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Consumo","codigo_dir":"E05072201","cifs":[]},"id":66402,"og":{"codigo_dir":"GE0015318","nombre":"Agencia
        Espa\u00f1ola de Seguridad Alimentaria y Nutrici\u00f3n-\u00d3rgano Gestor"},"ut":{"codigo_dir":"GE0001591","nombre":"Contrataci\u00f3n
        Laboratorios"},"oc":{"codigo_dir":"GE0015319","nombre":"Secretar\u00eda General-Oficina
        Contable"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Consumo","codigo_dir":"E05072201","cifs":[]},"id":66403,"og":{"codigo_dir":"GE0015318","nombre":"Agencia
        Espa\u00f1ola de Seguridad Alimentaria y Nutrici\u00f3n-\u00d3rgano Gestor"},"ut":{"codigo_dir":"GE0015314","nombre":"Caja
        Fija"},"oc":{"codigo_dir":"GE0015319","nombre":"Secretar\u00eda General-Oficina
        Contable"}},{"cifs":[],"adm[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05072201/relaciones?administracion=E05072201&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"35","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:04:08 GMT
[...]
