---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05023901/relaciones?administracion=E05023901&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Asuntos
        Exteriores, Uni\u00f3n Europea y Cooperaci\u00f3n","codigo_dir":"E05023901","cifs":[]},"id":68727,"og":{"codigo_dir":"E05028601","nombre":"Secretar\u00eda
        de Estado de Cooperaci\u00f3n Internacional y para Iberoam\u00e9rica y el
        Caribe"},"ut":{"codigo_dir":"E05003502","nombre":"Direcci\u00f3n General de
        Pol\u00edticas de Desarrollo Sostenible."},"oc":{"codigo_dir":"GE0014059","nombre":"Oficina
        Contable. I.D. Ministerio de Asuntos Exteriores, Uni\u00f3n Europea y Coop."}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Asuntos Exteriores, Uni\u00f3n Europea y Cooperaci\u00f3n","codigo_dir":"E05023901","cifs":[]},"id":68728,"og":{"codigo_dir":"E04609802","nombre":"Direcci\u00f3n
        General del Servicio Exterior"},"ut":{"codigo_dir":"E05003903","nombre":"Direcci\u00f3n
        General de Comunicaci\u00f3n e Informaci\u[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05023901/relaciones?administracion=E05023901&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"108","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:02:46 GMT
[...]
