---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05071301/relaciones?administracion=E05071301&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"Q2818002D"},{"nif":"Q28180020"}],"administracion":{"nombre":"Ministerio
        de Ciencia e Innovaci\u00f3n","codigo_dir":"E05071301","cifs":[]},"id":19075,"og":{"codigo_dir":"GE0000531","nombre":"
        CAJA PAGADORA OFICIALIA MAYOR "},"ut":{"codigo_dir":"GE0000531","nombre":"CAJA
        PAGADORA OFICIALIA MAYOR"},"oc":{"codigo_dir":"E02760503","nombre":"SECRETARIA
        GENERAL ADJUNTA DE ACTUACION ECONOMICA"}},{"cifs":[{"nif":"Q2818002D"}],"administracion":{"nombre":"Ministerio
        de Ciencia e Innovaci\u00f3n","codigo_dir":"E05071301","cifs":[]},"id":19077,"og":{"codigo_dir":"GE0000241","nombre":"CAJA
        PAGADORA DELEGACI\u00d3N CSIC EN GALICIA "},"ut":{"codigo_dir":"GE0000241","nombre":"CAJA
        PAGADORA DELEGACI\u00d3N CSIC EN GALICIA"},"oc":{"codigo_dir":"E02760503","nombre":"SECRETARIA
  [...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05071301/relaciones?administracion=E05071301&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"348","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:03:31 GMT
[...]
