---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921801/relaciones?administracion=E04921801&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"Q3811001A"},{"nif":"Q3811001Q"}],"administracion":{"nombre":"Ministerio
        de Economia y Competitividad","codigo_dir":"E04921801","cifs":[]},"id":764,"og":{"codigo_dir":"E00114804","nombre":"INSTITUTO
        DE ASTROFISICA DE CANARIAS"},"ut":{"codigo_dir":"E00114804","nombre":"INSTITUTO
        DE ASTROFISICA DE CANARIAS"},"oc":{"codigo_dir":"E00114804","nombre":"INSTITUTO
        DE ASTROFISICA DE CANARIAS"}},{"cifs":[{"nif":"Q2876002C"}],"administracion":{"nombre":"Ministerio
        de Economia y Competitividad","codigo_dir":"E04921801","cifs":[]},"id":1448,"og":{"codigo_dir":"EA0002584","nombre":"ICO."},"ut":{"codigo_dir":"EA0008540","nombre":"DG
        TECNICA"},"oc":{"codigo_dir":"GE0000278","nombre":"Servicios Generales"}},{"cifs":[{"nif":"Q2876002C"}],"administracion":{"nombre":"Ministerio
        de Economia [...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921801/relaciones?administracion=E04921801&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"361","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:02:30 GMT
[...]
