---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990501/relaciones?administracion=E04990501&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Econom\u00eda,
        Industria y Competitividad","codigo_dir":"E04990501","cifs":[]},"id":54536,"og":{"codigo_dir":"EA0010656","nombre":"Secretaria
        General"},"ut":{"codigo_dir":"GE0013702","nombre":"Contrataci\u00f3n Administrativa"},"oc":{"codigo_dir":"GE0013701","nombre":"Oficina
        Contable"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Econom\u00eda,
        Industria y Competitividad","codigo_dir":"E04990501","cifs":[]},"id":54615,"og":{"codigo_dir":"EA0010656","nombre":"Secretaria
        General"},"ut":{"codigo_dir":"GE0013703","nombre":"Contratos Menores y Adquisici\u00f3n
        Centralizada"},"oc":{"codigo_dir":"GE0013701","nombre":"Oficina Contable"}},{"cifs":[],"administracion":{"nombre":"Ministerio
   [...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990501/relaciones?administracion=E04990501&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"100","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:02:06 GMT
[...]
