---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024401/relaciones?administracion=E05024401&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Agricultura,
        Pesca y Alimentaci\u00f3n","codigo_dir":"E05024401","cifs":[]},"id":62675,"og":{"codigo_dir":"EA0022362","nombre":"Fondo
        Espa\u00f1ol de Garantia Agraria"},"ut":{"codigo_dir":"EA0022363","nombre":"Secretaria
        General"},"oc":{"codigo_dir":"EA0022362","nombre":"Fondo Espa\u00f1ol de Garantia
        Agraria"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Agricultura,
        Pesca y Alimentaci\u00f3n","codigo_dir":"E05024401","cifs":[]},"id":62677,"og":{"codigo_dir":"EA0022362","nombre":"Fondo
        Espa\u00f1ol de Garantia Agraria"},"ut":{"codigo_dir":"EA0022368","nombre":"S.G.
        de Sectores Especiales"},"oc":{"codigo_dir":"EA0022362","nombre":"Fondo Espa\u00f1ol
        de Garantia Agraria"}},{"cifs[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024401/relaciones?administracion=E05024401&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"49","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:00:18 GMT
[...]
