---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990201/relaciones?administracion=E04990201&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Energ\u00eda,
        Turismo y Agenda Digital","codigo_dir":"E04990201","cifs":[]},"id":52214,"og":{"codigo_dir":"EA0011408","nombre":"Sociedad
        Mercantil Estatal para la Gesti\u00f3n de la Innovaci\u00f3n y las Tecnolog\u00edas
        Tur\u00edsticas, S.A.M.P."},"ut":{"codigo_dir":"EA0011408","nombre":"Sociedad
        Mercantil Estatal para la Gesti\u00f3n de la Innovaci\u00f3n y las Tecnolog\u00edas
        Tur\u00edsticas, S.A.M.P."},"oc":{"codigo_dir":"EA0011408","nombre":"Sociedad
        Mercantil Estatal para la Gesti\u00f3n de la Innovaci\u00f3n y las Tecnolog\u00edas
        Tur\u00edsticas, S.A.M.P."}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Energ\u00eda, Turismo y Agenda Digital","codigo_dir":"E04990201","cifs":[]},"id":57702,"og":{"codigo_dir":"E00119405","nombre":"Direcci\u00f3n
        General de Pol\u00edtica Energ\u00e9tica y Minas"},"ut":{"codigo_dir":"E00119405","nombre":"Direcci\u00f3n
       [...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990201/relaciones?administracion=E04990201&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"46","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:02:11 GMT
[...]
