---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05025101/relaciones?administracion=E05025101&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Ciencia,
        Innovaci\u00f3n y Universidades","codigo_dir":"E05025101","cifs":[]},"id":62521,"og":{"codigo_dir":"EA0020890","nombre":"Instituto
        de Salud Carlos III"},"ut":{"codigo_dir":"EA0020904","nombre":"Area Jur\u00eddica"},"oc":{"codigo_dir":"EA0020912","nombre":"Contabilidad"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Ciencia, Innovaci\u00f3n y Universidades","codigo_dir":"E05025101","cifs":[]},"id":62535,"og":{"codigo_dir":"EA0020890","nombre":"Instituto
        de Salud Carlos III"},"ut":{"codigo_dir":"EA0020913","nombre":"Contratacion"},"oc":{"codigo_dir":"EA0020912","nombre":"Contabilidad"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Ciencia, Innovaci\u00f3n y Universidades","[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05025101/relaciones?administracion=E05025101&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"341","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:02:53 GMT
[...]
