---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05068901/relaciones?administracion=E05068901&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Asuntos
        Econ\u00f3micos y Transformaci\u00f3n Digital","codigo_dir":"E05068901","cifs":[]},"id":85607,"og":{"codigo_dir":"E05042502","nombre":"Secretar\u00eda
        General del Tesoro y Financiaci\u00f3n Internacional"},"ut":{"codigo_dir":"EA0043011","nombre":"S.G.
        de Asuntos Economicos y Financieros de la Union Europea"},"oc":{"codigo_dir":"GE0014047","nombre":"Oficina
        Contable. I.D. Secretaria Gral. del Tesoro y Financiaci\u00f3n Internacional"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Asuntos Econ\u00f3micos y Transformaci\u00f3n Digital","codigo_dir":"E05068901","cifs":[]},"id":85608,"og":{"codigo_dir":"E05042702","nombre":"Direcci\u00f3n
        General del Tesoro y Pol\u00edtica Financiera"},"ut":{"codigo_dir":"EA0043020","nombre":"S.G.
        de Legislaci\u00f3n de Entidades de Cr\[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05068901/relaciones?administracion=E05068901&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"123","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:04:02 GMT
[...]
