---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05071601/relaciones?administracion=E05071601&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Igualdad","codigo_dir":"E05071601","cifs":[]},"id":94410,"og":{"codigo_dir":"E05075301","nombre":"Subsecretar\u00eda
        de Igualdad"},"ut":{"codigo_dir":"GE0017700","nombre":"Habilitado de Personal,
        Caja Fija y Pagos a Justificar"},"oc":{"codigo_dir":"GE0015417","nombre":"Oficina
        Contable. I.D. Ministerio de Igualdad"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Igualdad","codigo_dir":"E05071601","cifs":[]},"id":94409,"og":{"codigo_dir":"E05075301","nombre":"Subsecretar\u00eda
        de Igualdad"},"ut":{"codigo_dir":"EA0043191","nombre":"Subdirecci\u00f3n General
        de la Oficina Presupuestaria, Gesti\u00f3n Econ\u00f3mica y Asuntos Generales"},"oc":{"codigo_dir":"GE0015417","nombre":"Oficina
   [...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05071601/relaciones?administracion=E05071601&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"9","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:03:45 GMT
[...]
