---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024101/relaciones?administracion=E05024101&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Educaci\u00f3n
        y Formaci\u00f3n Profesional","codigo_dir":"E05024101","cifs":[]},"id":67089,"og":{"codigo_dir":"EA0022048","nombre":"CEIP
        Reina Sof\u00eda"},"ut":{"codigo_dir":"EA0022048","nombre":"CEIP Reina Sof\u00eda"},"oc":{"codigo_dir":"GE0014058","nombre":"Oficina
        Contable. I.D. Ministerio de Educacion y Formaci\u00f3n Profesional"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Educaci\u00f3n y Formaci\u00f3n Profesional","codigo_dir":"E05024101","cifs":[]},"id":67090,"og":{"codigo_dir":"EA0022049","nombre":"CEIP
        Rey Juan Carlos I"},"ut":{"codigo_dir":"EA0022049","nombre":"CEIP Rey Juan
        Carlos I"},"oc":{"codigo_dir":"GE0014058","nombre":"Oficina Contable. I.D.
        Mini[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024101/relaciones?administracion=E05024101&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"176","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 13:59:35 GMT
[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024101/relaciones?administracion=E05024101&limit=25.0&page=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Educaci\u00f3n
        y Formaci\u00f3n Profesional","codigo_dir":"E05024101","cifs":[]},"id":92667,"og":{"codigo_dir":"E05078801","nombre":"Secretar\u00eda
        General de Formaci\u00f3n Profesional"},"ut":{"codigo_dir":"EA0041427","nombre":"S.G.
        de Gesti\u00f3n Econ\u00f3mica y Financiera"},"oc":{"codigo_dir":"GE0014058","nombre":"Oficina
        Contable. I.D. Ministerio de Educacion y Formaci\u00f3n Profesional"}}]}'
  recorded_at: Thu, 04 Mar 2021 13:59:42 GMT
recorded_with: VCR 6.0.0
