---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990301/relaciones?administracion=E04990301&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Agricultura
        y Pesca, Alimentaci\u00f3n y Medio Ambiente","codigo_dir":"E04990301","cifs":[]},"id":55798,"og":{"codigo_dir":"EA0018801","nombre":"Secretaria
        General"},"ut":{"codigo_dir":"EA0003148","nombre":"Secretar\u00eda General.
        Unidad Tramitadora"},"oc":{"codigo_dir":"EA0003147","nombre":"Secretar\u00eda
        General. Oficina Contable"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Agricultura y Pesca, Alimentaci\u00f3n y Medio Ambiente","codigo_dir":"E04990301","cifs":[]},"id":55799,"og":{"codigo_dir":"EA0018805","nombre":"Unidad
        Tecnica de Seguimiento de la Cadena e Inspeccion"},"ut":{"codigo_dir":"EA0003148","nombre":"Secretar\u00eda
        General. Unidad Tramitadora"},"oc":{"codigo_dir":"EA0003147","nombre":"Sec[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990301/relaciones?administracion=E04990301&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"193","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:00:36 GMT
[...]
