---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00003801/relaciones?administracion=E00003801&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"S4516004A"},{"nif":"G2816003D"},{"nif":"S2816003D"},{"nif":"Q2816003D"},{"nif":"E00130502"},{"nif":"Q28160030"}],"administracion":{"nombre":"Ministerio
        del Interior","codigo_dir":"E00003801","cifs":[]},"id":2193,"og":{"codigo_dir":"E00130502","nombre":"Direcci\u00f3n
        General de Tr\u00e1fico"},"ut":{"codigo_dir":"EA0003335","nombre":"\u00c1rea
        de Gesti\u00f3n Econ\u00f3mica de la Jefatura Central de Tr\u00e1fico"},"oc":{"codigo_dir":"E00130201","nombre":"Jefatura
        Central de Tr\u00e1fico"}},{"cifs":[{"nif":"S4516004A"},{"nif":"G2816003D"},{"nif":"S2816003D"},{"nif":"Q2816003D"},{"nif":"E00130502"},{"nif":"Q28160030"}],"administracion":{"nombre":"Ministerio
        del Interior","codigo_dir":"E00003801","cifs":[]},"id":2194,"og":{"codigo_dir":"E00130502","nombre":"Direcci\u00f3n
        General de Tr\u00e1fico"},"ut":{"codigo_dir":"E03098701","nombre":"Secretaria
        General"},"oc":{"codigo_dir":"E00[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00003801/relaciones?administracion=E00003801&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"713","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:00:46 GMT
[...]
