---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024001/relaciones?administracion=E05024001&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Hacienda","codigo_dir":"E05024001","cifs":[]},"id":61234,"og":{"codigo_dir":"E05029301","nombre":"Secretar\u00eda
        de Estado de Hacienda"},"ut":{"codigo_dir":"E04995702","nombre":"Secretar\u00eda
        General de Financiaci\u00f3n Auton\u00f3mica y Local"},"oc":{"codigo_dir":"GE0014526","nombre":"Oficina
        Contable. I.D. Ministerio de Hacienda"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Hacienda","codigo_dir":"E05024001","cifs":[]},"id":62255,"og":{"codigo_dir":"E00127105","nombre":"Direcci\u00f3n
        General del Catastro"},"ut":{"codigo_dir":"EA0022510","nombre":"Expedientes
        de la D.G. del Catastro"},"oc":{"codigo_dir":"GE0014526","nombre":"Oficina
        Contable. I.D. Ministerio de Hacienda"}},{"cifs":[],"admin[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024001/relaciones?administracion=E05024001&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"138","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:33 GMT
[...]
