---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05066501/relaciones?administracion=E05066501&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Trabajo
        y Econom\u00eda Social","codigo_dir":"E05066501","cifs":[]},"id":85547,"og":{"codigo_dir":"E05066801","nombre":"Secretar\u00eda
        de Estado de Empleo y Econom\u00eda Social"},"ut":{"codigo_dir":"EA0041841","nombre":"Subdirecci\u00f3n
        General de Administraci\u00f3n Financiera y de la Oficina Presupuestaria"},"oc":{"codigo_dir":"GE0014057","nombre":"Oficina
        Contable. I.D. Ministerio de Trabajo y Econom\u00eda Social"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Trabajo y Econom\u00eda Social","codigo_dir":"E05066501","cifs":[]},"id":85550,"og":{"codigo_dir":"E05073901","nombre":"Subsecretar\u00eda
        de Trabajo y Econom\u00eda Social"},"ut":{"codigo_dir":"EA0041842","nombre":"Caja
        Pagadora General"},"oc":{"codigo_dir":"GE0014057","nombre":"Oficina Contable.
        I[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05066501/relaciones?administracion=E05066501&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"21","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:30 GMT
[...]
