---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05068001/relaciones?administracion=E05068001&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio para la
        Transici\u00f3n Ecol\u00f3gica y el Reto Demogr\u00e1fico","codigo_dir":"E05068001","cifs":[]},"id":87007,"og":{"codigo_dir":"EA0043300","nombre":"Presidencia
        de la Aemet"},"ut":{"codigo_dir":"EA0043299","nombre":"Agencia Estatal de
        Meteorologia"},"oc":{"codigo_dir":"EA0043299","nombre":"Agencia Estatal de
        Meteorologia"}},{"cifs":[],"administracion":{"nombre":"Ministerio para la
        Transici\u00f3n Ecol\u00f3gica y el Reto Demogr\u00e1fico","codigo_dir":"E05068001","cifs":[]},"id":87018,"og":{"codigo_dir":"EA0043300","nombre":"Presidencia
        de la Aemet"},"ut":{"codigo_dir":"EA0043323","nombre":"Habilitacion Sscc"},"oc":{"codigo_dir":"EA0043299","nombre":"Agencia
        Estatal de Meteorologia"}},{"cifs":[],"administracion":{[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05068001/relaciones?administracion=E05068001&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"214","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:03:48 GMT
[...]
