---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00004101/relaciones?administracion=E00004101&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"Q2811010D"}],"administracion":{"nombre":"Ministerio
        de la Presidencia","codigo_dir":"E00004101","cifs":[]},"id":736,"og":{"codigo_dir":"E00136301","nombre":"Centro
        de Estudios Pol\u00edticos y Constitucionales"},"ut":{"codigo_dir":"E03165201","nombre":"S.G.
        DE ESTUDIOS E INVESTIGACION"},"oc":{"codigo_dir":"E03165401","nombre":"Gerencia"}},{"cifs":[{"nif":"Q2811010D"}],"administracion":{"nombre":"Ministerio
        de la Presidencia","codigo_dir":"E00004101","cifs":[]},"id":737,"og":{"codigo_dir":"E00136301","nombre":"Centro
        de Estudios Pol\u00edticos y Constitucionales"},"ut":{"codigo_dir":"E03165301","nombre":"S.G.
        DE PUBLICACIONES Y DOCUMENTACION"},"oc":{"codigo_dir":"E03165401","nombre":"Gerencia"}},{"cifs":[{"nif":"Q2811010D"}],"administracion":{"nombre":"Ministe[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00004101/relaciones?administracion=E00004101&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"42","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:00:33 GMT
[...]
