---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990401/relaciones?administracion=E04990401&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de la Presidencia
        y para las Administraciones Territoriales","codigo_dir":"E04990401","cifs":[]},"id":56304,"og":{"codigo_dir":"EA0017881","nombre":"Subdirecci\u00f3n
        General de Administraci\u00f3n Financiera y Patrimonio de la Administraci\u00f3n
        Perif\u00e9rica"},"ut":{"codigo_dir":"EA0017454","nombre":"Delegaci\u00f3n
        del Gobierno en Asturias"},"oc":{"codigo_dir":"GE0014068","nombre":"Oficina
        Contable. Delegacion de Economia y Hacienda en Asturias - Intervencion R"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de la Presidencia y para las Administraciones Territoriales","codigo_dir":"E04990401","cifs":[]},"id":56310,"og":{"codigo_dir":"EA0017881","nombre":"Subdirecci\u00f3n
        General de Administraci\u00f3n Financiera y Patrimonio de la Administraci\u00f3n
        Perif\u00e9rica"},"ut":{"codigo_dir":"EA0017828","[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990401/relaciones?administracion=E04990401&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"79","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:01:22 GMT
[...]
