---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921701/relaciones?administracion=E04921701&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"S2817039G"},{"nif":"Q3317001J"},{"nif":"E04802803"}],"administracion":{"nombre":"Ministerio
        de Agricultura, Alimentacion y Medio Ambiente","codigo_dir":"E04921701","cifs":[]},"id":11305,"og":{"codigo_dir":"E04802803","nombre":"Confederacion
        Hidrografica del Cantabrico, O.A."},"ut":{"codigo_dir":"E04802803","nombre":"Confederacion
        Hidrografica del Cantabrico, O.A."},"oc":{"codigo_dir":"E04802803","nombre":"Confederacion
        Hidrografica del Cantabrico, O.A."}},{"cifs":[{"nif":"Q4717001D"},{"nif":"G4717001D"}],"administracion":{"nombre":"Ministerio
        de Agricultura, Alimentacion y Medio Ambiente","codigo_dir":"E04921701","cifs":[]},"id":11217,"og":{"codigo_dir":"E00133703","nombre":"Confederacion
        Hidrografica del Duero"},"ut":{"codigo_dir":"E03150903","nombre":"Oficina
        de Planificacion Hidrologica"},"oc":{"codigo_dir":"E03151003","nombre[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921701/relaciones?administracion=E04921701&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"69","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:01:28 GMT
[...]
