---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024901/relaciones?administracion=E05024901&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Econom\u00eda
        y Empresa","codigo_dir":"E05024901","cifs":[]},"id":64444,"og":{"codigo_dir":"E05027301","nombre":"Secretaria
        de la Ministra"},"ut":{"codigo_dir":"EA0023112","nombre":"S.G. de Administraci\u00f3n
        Financiera y Oficial\u00eda Mayor"},"oc":{"codigo_dir":"GE0014048","nombre":"Oficina
        Contable. I.D. Ministerio de Asuntos Econ\u00f3micos y Transformaci\u00f3n
        Digital"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Econom\u00eda
        y Empresa","codigo_dir":"E05024901","cifs":[]},"id":64445,"og":{"codigo_dir":"E05042901","nombre":"Direcci\u00f3n
        General de An\u00e1lisis Macroecon\u00f3mico"},"ut":{"codigo_dir":"EA0023112","nombre":"S.G.
        de Administraci\u00f3n Financiera y Oficial\u00eda Mayor[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024901/relaciones?administracion=E05024901&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"107","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:00:21 GMT
[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024901/relaciones?administracion=E05024901&limit=25.0&page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"Q2876002C"}],"administracion":{"nombre":"Ministerio
        de Econom\u00eda y Empresa","codigo_dir":"E05024901","cifs":[]},"id":68350,"og":{"codigo_dir":"EA0033670","nombre":"ICO"},"ut":{"codigo_dir":"EA0033672","nombre":"DG
        TECNICA Y DE RECURSOS"},"oc":{"codigo_dir":"GE0000299","nombre":"SD SISTEMAS
        INFORMACION"}},{"cifs":[{"nif":"Q2876002C"}],"administracion":{"nombre":"Ministerio
        de Econom\u00eda y Empresa","codigo_dir":"E05024901","cifs":[]},"id":68648,"og":{"codigo[...]
