---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921501/relaciones?administracion=E04921501&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"A78062593"},{"nif":"Q2819014H"},{"nif":"S2819014H"}],"administracion":{"nombre":"Ministerio
        de Empleo y Seguridad Social","codigo_dir":"E04921501","cifs":[]},"id":8958,"og":{"codigo_dir":"E00143003","nombre":"Fondo
        de Garantia Salarial"},"ut":{"codigo_dir":"EA0002934","nombre":"\u00c1rea
        Econ\u00f3mico Financiera"},"oc":{"codigo_dir":"EA0002971","nombre":"Oficina
        de Contabilidad del Fondo de Garantia Salarial"}},{"cifs":[{"nif":"Q2869095F"},{"nif":"Q2869095E"}],"administracion":{"nombre":"Ministerio
        de Empleo y Seguridad Social","codigo_dir":"E04921501","cifs":[]},"id":11576,"og":{"codigo_dir":"EA0003139","nombre":"CONSEJO
        ECONOMICO Y SOCIAL"},"ut":{"codigo_dir":"EA0003142","nombre":"CAJA CENTRAL"},"oc":{"codigo_dir":"EA0003141","nombre":"Oficina
        de Contabilidad"}},{"cifs":[{"nif[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921501/relaciones?administracion=E04921501&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"66","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:00:28 GMT
[...]
