---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990101/relaciones?administracion=E04990101&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Hacienda
        y Funci\u00f3n P\u00fablica","codigo_dir":"E04990101","cifs":[]},"id":53416,"og":{"codigo_dir":"EA0011449","nombre":"Instituto
        de Estudios Fiscales"},"ut":{"codigo_dir":"GE0013371","nombre":"Caja Fija
        del Instituto de Estudios Fiscales"},"oc":{"codigo_dir":"E03054404","nombre":"Secretaria
        General"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Hacienda y
        Funci\u00f3n P\u00fablica","codigo_dir":"E04990101","cifs":[]},"id":53437,"og":{"codigo_dir":"EA0011449","nombre":"Instituto
        de Estudios Fiscales"},"ut":{"codigo_dir":"GE0013370","nombre":"Pagos en Firme
        del Instituto de Estudios Fiscales"},"oc":{"codigo_dir":"E03054404","nombre":"Secretaria
        General"}},{"cifs":[],"administracion":{"nomb[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04990101/relaciones?administracion=E04990101&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"403","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:01:44 GMT
[...]
