---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921601/relaciones?administracion=E04921601&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"S2817035E"}],"administracion":{"nombre":"Ministerio
        de Industria, Energia y Turismo","codigo_dir":"E04921601","cifs":[{"nif":"S2826145A"},{"nif":"S2800214E"},{"nif":"S2829017I"},{"nif":"S3916001E"}]},"id":11411,"og":{"codigo_dir":"E00126005","nombre":"Centro
        Espa\u00f1ol de Metrologia"},"ut":{"codigo_dir":"E04760902","nombre":"Secretaria
        General"},"oc":{"codigo_dir":"E04760902","nombre":"Secretaria General"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Industria, Energia y Turismo","codigo_dir":"E04921601","cifs":[{"nif":"S2826145A"},{"nif":"S2800214E"},{"nif":"S2829017I"},{"nif":"S3916001E"}]},"id":67104,"og":{"codigo_dir":"E04926301","nombre":"S.
        de E. de Energia"},"ut":{"codigo_dir":"E04926301","nombre":"S. de E. de Energia"},"oc":{"codigo_dir":"GE0014060","nombre":"Oficina
        Contable. I.D. Ministerio para la [...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921601/relaciones?administracion=E04921601&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"27","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:00:15 GMT
[...]
