---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05025001/relaciones?administracion=E05025001&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Sanidad,
        Consumo y Bienestar Social","codigo_dir":"E05025001","cifs":[]},"id":67999,"og":{"codigo_dir":"E05051101","nombre":"Direcci\u00f3n
        General de Servicios para las Familias y la Infancia"},"ut":{"codigo_dir":"GE0014432","nombre":"Habilitaci\u00f3n
        y Pagadur\u00eda Dietas"},"oc":{"codigo_dir":"GE0014051","nombre":"Oficina
        Contable. I.D. Ministerio de Sanidad"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Sanidad, Consumo y Bienestar Social","codigo_dir":"E05025001","cifs":[]},"id":68012,"og":{"codigo_dir":"E05051101","nombre":"Direcci\u00f3n
        General de Servicios para las Familias y la Infancia"},"ut":{"codigo_dir":"GE0000236","nombre":"Servicio
        de Habilitaci\u00f3n y Pagadur\u00eda"},"oc":{"codigo_dir":"GE0014051","nombre":"Ofici[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05025001/relaciones?administracion=E05025001&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"68","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:41 GMT
[...]
