---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05067101/relaciones?administracion=E05067101&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de la Presidencia,
        Relaciones Con las Cortes y Memoria Democr\u00e1tica","codigo_dir":"E05067101","cifs":[]},"id":96547,"og":{"codigo_dir":"E05067701","nombre":"Secretar\u00eda
        de Estado de Memoria Democr\u00e1tica"},"ut":{"codigo_dir":"EA0040807","nombre":"Oficina
        Presupuestaria y de Gestion Economica"},"oc":{"codigo_dir":"GE0014050","nombre":"Oficina
        Contable. I.D. Min. de la Presidencia, Relac. con las Cortes y Mem.Democ."}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de la Presidencia, Relaciones Con las Cortes y Memoria Democr\u00e1tica","codigo_dir":"E05067101","cifs":[]},"id":83189,"og":{"codigo_dir":"EA0040767","nombre":"Centro
        de Estudios Pol\u00edticos y Constitucionales"},"ut":{"codigo_dir":"EA0040768","nombre":"Gerencia"},"oc":{"codigo_dir":"EA0040768","nombr[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05067101/relaciones?administracion=E05067101&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"23","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:07 GMT
[...]
