---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05073401/relaciones?administracion=E05073401&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Universidades","codigo_dir":"E05073401","cifs":[]},"id":94027,"og":{"codigo_dir":"E05073401","nombre":"Ministerio
        de Universidades"},"ut":{"codigo_dir":"EA0044928","nombre":"Habilitaci\u00f3n"},"oc":{"codigo_dir":"GE0017501","nombre":"Oficina
        Contable. I. D. Ministerio de Universidades"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Universidades","codigo_dir":"E05073401","cifs":[]},"id":93908,"og":{"codigo_dir":"E05073401","nombre":"Ministerio
        de Universidades"},"ut":{"codigo_dir":"EA0044927","nombre":"Caja Pagadora"},"oc":{"codigo_dir":"GE0017501","nombre":"Oficina
        Contable. I. D. Ministerio de Universidades"}},{"cifs":[],"administracion":{"nombre":[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05073401/relaciones?administracion=E05073401&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"16","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:51 GMT
[...]
