---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05065601/relaciones?administracion=E05065601&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Transportes,
        Movilidad y Agenda Urbana","codigo_dir":"E05065601","cifs":[]},"id":88327,"og":{"codigo_dir":"E05078401","nombre":"Direcci\u00f3n
        General de Agenda Urbana y Arquitectura"},"ut":{"codigo_dir":"EA0043931","nombre":"Subdirecci\u00f3n
        General de Coordinaci\u00f3n y Gesti\u00f3n Administrativa"},"oc":{"codigo_dir":"GE0014056","nombre":"Oficina
        Contable. I.D. Ministerio de Transportes, Movilidad y Agenda Urbana"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Transportes, Movilidad y Agenda Urbana","codigo_dir":"E05065601","cifs":[]},"id":88347,"og":{"codigo_dir":"E05078601","nombre":"Direcci\u00f3n
        General de Vivienda y Suelo"},"ut":{"codigo_dir":"EA0043931","nombre":"Subdirecci\u00f3n
        General de Coordinaci\u00f3n y Gesti\u00f3n Administrativa"},"oc":{"[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05065601/relaciones?administracion=E05065601&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"11","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:03:28 GMT
[...]
