---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024301/relaciones?administracion=E05024301&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Industria,
        Comercio y Turismo","codigo_dir":"E05024301","cifs":[]},"id":67927,"og":{"codigo_dir":"E04934403","nombre":"Secretar\u00eda
        General de Industria y de la Peque\u00f1a y Mediana Empresa"},"ut":{"codigo_dir":"E04934603","nombre":"Direcci\u00f3n
        General de Industria y de la Peque\u00f1a y Mediana Empresa"},"oc":{"codigo_dir":"GE0014053","nombre":"Oficina
        Contable. I.D. Ministerio de Industria, Comercio y Turismo"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Industria, Comercio y Turismo","codigo_dir":"E05024301","cifs":[]},"id":64459,"og":{"codigo_dir":"E04934403","nombre":"Secretar\u00eda
        General de Industria y de la Peque\u00f1a y Mediana Empresa"},"ut":{"codigo_dir":"E04934603","nombre":"Direcci\u00f3n
        General de Industria y de la Peque\u00f1a y Mediana Empr[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024301/relaciones?administracion=E05024301&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"28","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:03:59 GMT
[...]
