---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921401/relaciones?administracion=E04921401&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Educaci\u00f3n,
        Cultura y Deporte","codigo_dir":"E04921401","cifs":[{"nif":"S2818001F"},{"nif":"S2800194I"}]},"id":2893,"og":{"codigo_dir":"EA0008544","nombre":"CONSORCIO
        CIUDAD DE TOLEDO"},"ut":{"codigo_dir":"EA0008544","nombre":"CONSORCIO CIUDAD
        DE TOLEDO"},"oc":{"codigo_dir":"EA0008544","nombre":"CONSORCIO CIUDAD DE TOLEDO"}},{"cifs":[{"nif":"Q1600452A"},{"nif":"Q1600425A"}],"administracion":{"nombre":"Ministerio
        de Educaci\u00f3n, Cultura y Deporte","codigo_dir":"E04921401","cifs":[{"nif":"S2818001F"},{"nif":"S2800194I"}]},"id":6965,"og":{"codigo_dir":"EA0008545","nombre":"GEMMA
        VALENCIA SORIANO"},"ut":{"codigo_dir":"EA0008545","nombre":"GEMMA VALENCIA
        SORIANO"},"oc":{"codigo_dir":"EA0008545","nombre":"CARMEN MU\u00d1OZ L\u00d3[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921401/relaciones?administracion=E04921401&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"63","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 13:59:44 GMT
[...]
