---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024601/relaciones?administracion=E05024601&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Pol\u00edtica
        Territorial y Funci\u00f3n P\u00fablica","codigo_dir":"E05024601","cifs":[]},"id":62996,"og":{"codigo_dir":"EA0020628","nombre":"Delegaci\u00f3n
        del Gobierno en Galicia"},"ut":{"codigo_dir":"EA0020649","nombre":"Subdelegaci\u00f3n
        del Gobierno en Pontevedra  - Subdelegaci\u00f3n"},"oc":{"codigo_dir":"GE0014102","nombre":"Oficina
        Contable. Delegacion de Economia y Hacienda en Pontevedra - Intervencion"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Pol\u00edtica Territorial y Funci\u00f3n P\u00fablica","codigo_dir":"E05024601","cifs":[]},"id":62995,"og":{"codigo_dir":"EA0020776","nombre":"Delegaci\u00f3n
        del Gobierno en la Comunidad Foral de Navarra"},"ut":{"codigo_dir":"EA0020784","nombre":"Delegaci\u00f3n
        del Gobierno en la Comunidad Fo[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024601/relaciones?administracion=E05024601&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"204","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:13 GMT
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024601/relaciones?administracion=E05024601&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Pol\u00edtica
        Territorial y Funci\u00f3n P\u00fablica","codigo_dir":"E05024601","cifs":[]},"id":56514,"og":{"codigo_dir":"GE0010518","nombre":"Subdel.Gob.
        en Huesca - Gastos Electorales"},"ut":{"codigo_dir":"GE0010518","nombre":"Subdel.Gob.
        en Huesca - Gastos Electorales"},"oc":{"codigo_dir":"GE0014061","nombre":"Oficina
        Contable. Delegacion de Economia y Hacienda en Huesca - Intervencion Ter"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Pol\u00edtica Territorial y Funci\u00f3n P\u00fablica","codigo_dir":"E05024601","cifs":[]},"id":56525,"og":{"codigo_dir":"GE0010374","nombre":"Del.Gob.
        en el Pais Vasco - Gastos Electorales"},"ut":{"codigo_dir":"GE0010374","nombre":"Del.Gob.
        en el Pais Vasco - Gastos Electorales"},"oc":{"codigo_dir":"GE0014069","nombre":"Oficina
        Contable. Delegacion de Economia y Hacienda en Alava - Intervencion Terr"}},{"cifs":[{"nif":"S1336001E"}],"administracion":{"nombre":"Ministerio
        de Pol\u00edtica Territorial y Funci\u00f3n P\u00fablica","codigo_dir":"E05024601","cifs":[]},"id":56645,"og":{"codigo_dir":"GE0010519","nombre":"Subdel.Gob.
        en Ciudad Real - Gastos Electorales"},"ut":{"codigo_dir":"GE0010519","nombre":"Subdel.Gob.
        en Ciudad Real - Gastos Electorales"},"oc":{"codigo_dir":"GE0014083","nombre":"Oficina
        Contable. Delegacion de Economia y Hacienda en Ciudad Real - Intervencio"}},{"c[...]
[...]
