---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/EA0008567/relaciones?administracion=EA0008567&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"S2811001C"}],"administracion":{"nombre":"Presidencia
        del Gobierno","codigo_dir":"EA0008567","cifs":[]},"id":62495,"og":{"codigo_dir":"E00136403","nombre":"Secretar\u00eda
        General de la Presidencia del Gobierno"},"ut":{"codigo_dir":"EA0022242","nombre":"Oficina
        Presupuestaria y de Gestion Economica"},"oc":{"codigo_dir":"GE0014050","nombre":"Oficina
        Contable. I.D. Min. de la Presidencia, Relac. con las Cortes y Mem.Democ."}},{"cifs":[{"nif":"S2811001C"}],"administracion":{"nombre":"Presidencia
        del Gobierno","codigo_dir":"EA0008567","cifs":[]},"id":57710,"og":{"codigo_dir":"E00136403","nombre":"Secretar\u00eda
        General de la Presidencia del Gobierno"},"ut":{"codigo_dir":"EA0014592","nombre":"Oficina
        Presupuestaria y de Gestion Economica"},"oc":{"codigo_dir":"GE0014050[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/EA0008567/relaciones?administracion=EA0008567&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"6","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:02:03 GMT
[...]
