---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024201/relaciones?administracion=E05024201&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Trabajo,
        Migraciones y Seguridad Social","codigo_dir":"E05024201","cifs":[]},"id":61654,"og":{"codigo_dir":"EA0021624","nombre":"Instituto
        Nacional de Seguridad y Salud en el Trabajo"},"ut":{"codigo_dir":"EA0021625","nombre":"Centro
        Nacional de Verificacion de Maquinaria de Bizkaia (SEDE- BARACALDO)"},"oc":{"codigo_dir":"E00142903","nombre":"Instituto
        Nacional de Seguridad e Higiene en el Trabajo"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Trabajo, Migraciones y Seguridad Social","codigo_dir":"E05024201","cifs":[]},"id":61655,"og":{"codigo_dir":"EA0021624","nombre":"Instituto
        Nacional de Seguridad y Salud en el Trabajo"},"ut":{"codigo_dir":"EA0021627","nombre":"Centro
        Nacional de Condiciones de Trabajo de Barcelona"},"oc":{"codigo_dir":"E00142903","nombr[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024201/relaciones?administracion=E05024201&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"146","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:03:14 GMT
[...]
