---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024801/relaciones?administracion=E05024801&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Cultura
        y Deporte","codigo_dir":"E05024801","cifs":[]},"id":61421,"og":{"codigo_dir":"EA0019768","nombre":"Biblioteca
        Nacional de Espa\u00f1a"},"ut":{"codigo_dir":"EA0019779","nombre":"Servicio
        de Difusi\u00f3n de Contenidos Digitales, Portales y Redes Sociales"},"oc":{"codigo_dir":"EA0019768","nombre":"Biblioteca
        Nacional de Espa\u00f1a"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Cultura y Deporte","codigo_dir":"E05024801","cifs":[]},"id":61423,"og":{"codigo_dir":"EA0019768","nombre":"Biblioteca
        Nacional de Espa\u00f1a"},"ut":{"codigo_dir":"EA0019784","nombre":"Control
        Bibliografico de Revistas"},"oc":{"codigo_dir":"EA0019768","nombre":"Biblioteca
        Nacional de Espa\u00f1a"}},{"cifs":[],"administracion":{"nom[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024801/relaciones?administracion=E05024801&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"125","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:03:08 GMT
[...]
