---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024501/relaciones?administracion=E05024501&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de la Presidencia,
        Relaciones Con las Cortes e Igualdad","codigo_dir":"E05024501","cifs":[]},"id":67935,"og":{"codigo_dir":"E04797504","nombre":"Delegaci\u00f3n
        del Gobierno para la Violencia de G\u00e9nero"},"ut":{"codigo_dir":"EA0022242","nombre":"Oficina
        Presupuestaria y de Gestion Economica"},"oc":{"codigo_dir":"GE0015417","nombre":"Oficina
        Contable. I.D. Ministerio de Igualdad"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de la Presidencia, Relaciones Con las Cortes e Igualdad","codigo_dir":"E05024501","cifs":[]},"id":67847,"og":{"codigo_dir":"E04797504","nombre":"Delegaci\u00f3n
        del Gobierno para la Violencia de G\u00e9nero"},"ut":{"codigo_dir":"E04797504","nombre":"Delegaci\u00f3n
        del Gobierno para la Violencia de G\u00e9nero"},"oc":{"codigo_dir":[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024501/relaciones?administracion=E05024501&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"21","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:10 GMT
[...]
