---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05070401/relaciones?administracion=E05070401&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Derechos
        Sociales y Agenda 2030","codigo_dir":"E05070401","cifs":[]},"id":86344,"og":{"codigo_dir":"EA0043088","nombre":"Unidad
        EA0043088"},"ut":{"codigo_dir":"EA0043104","nombre":"Unidad EA0043104"},"oc":{"codigo_dir":"EA0042250","nombre":"Unidad
        EA0042250"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Derechos
        Sociales y Agenda 2030","codigo_dir":"E05070401","cifs":[]},"id":86345,"og":{"codigo_dir":"EA0043088","nombre":"Unidad
        EA0043088"},"ut":{"codigo_dir":"EA0043097","nombre":"Unidad EA0043097"},"oc":{"codigo_dir":"EA0042240","nombre":"Unidad
        EA0042240"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Derechos
        Sociales y Agenda 2030","cod[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05070401/relaciones?administracion=E05070401&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"99","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:46 GMT
[...]
