---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05070101/relaciones?administracion=E05070101&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Sanidad","codigo_dir":"E05070101","cifs":[]},"id":94835,"og":{"codigo_dir":"E05070201","nombre":"Gabinete
        del Ministro"},"ut":{"codigo_dir":"GE0000236","nombre":"Servicio de Habilitaci\u00f3n
        y Pagadur\u00eda"},"oc":{"codigo_dir":"GE0014051","nombre":"Oficina Contable.
        I.D. Ministerio de Sanidad"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Sanidad","codigo_dir":"E05070101","cifs":[]},"id":94836,"og":{"codigo_dir":"E05070301","nombre":"Secretaria
        del Ministro"},"ut":{"codigo_dir":"GE0000236","nombre":"Servicio de Habilitaci\u00f3n
        y Pagadur\u00eda"},"oc":{"codigo_dir":"GE0014051","nombre":"Oficina Contable.
        I.D. Ministerio de Sanidad"}},{"cifs":[],"administr[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05070101/relaciones?administracion=E05070101&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"94","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:05:24 GMT
[...]
