---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05072501/relaciones?administracion=E05072501&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"G43941442"}],"administracion":{"nombre":"Ministerio
        de Inclusi\u00f3n, Seguridad Social y Migraciones","codigo_dir":"E05072501","cifs":[]},"id":14111,"og":{"codigo_dir":"GE0000505","nombre":"ACTIVA
        MUTUA 2008"},"ut":{"codigo_dir":"GE0000505","nombre":"ACTIVA MUTUA 2008"},"oc":{"codigo_dir":"GE0000505","nombre":"ACTIVA
        MUTUA 2008"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Inclusi\u00f3n,
        Seguridad Social y Migraciones","codigo_dir":"E05072501","cifs":[]},"id":14112,"og":{"codigo_dir":"GE0000509","nombre":"ACTIVA
        MUTUA 2008 UTA"},"ut":{"codigo_dir":"GE0000509","nombre":"ACTIVA MUTUA 2008
        UTA"},"oc":{"codigo_dir":"GE0000509","nombre":"ACTIVA MUTUA 2008 UTA"}},{"cifs":[],"administracion":{"nombre":"Ministerio
        de Inclus[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05072501/relaciones?administracion=E05072501&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"299","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:04:11 GMT
[...]
