---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024701/relaciones?administracion=E05024701&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio para la
        Transici\u00f3n Ecol\u00f3gica","codigo_dir":"E05024701","cifs":[]},"id":62678,"og":{"codigo_dir":"EA0022629","nombre":"Confederacion
        Hidrografica del Ebro"},"ut":{"codigo_dir":"EA0022683","nombre":"Direcci\u00f3n
        T\u00e9cnica"},"oc":{"codigo_dir":"EA0022629","nombre":"Confederacion Hidrografica
        del Ebro"}},{"cifs":[],"administracion":{"nombre":"Ministerio para la Transici\u00f3n
        Ecol\u00f3gica","codigo_dir":"E05024701","cifs":[]},"id":62679,"og":{"codigo_dir":"EA0022629","nombre":"Confederacion
        Hidrografica del Ebro"},"ut":{"codigo_dir":"EA0022685","nombre":"Presidencia"},"oc":{"codigo_dir":"EA0022629","nombre":"Confederacion
        Hidrografica del Ebro"}},{"cifs":[],"administracion":{"nombre":"Min[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E05024701/relaciones?administracion=E05024701&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"149","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:03:21 GMT
[...]
