---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00003301/relaciones?administracion=E00003301&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"S28004758"},{"nif":"S2826002D"},{"nif":"B2800475B"},{"nif":"S2800475B"}],"administracion":{"nombre":"Ministerio
        de Defensa","codigo_dir":"E00003301","cifs":[]},"id":2188,"og":{"codigo_dir":"EA0002979","nombre":"Sae
        de la Unidad Militar de Emergencias"},"ut":{"codigo_dir":"EA0002979","nombre":"Sae
        de la Unidad Militar de Emergencias"},"oc":{"codigo_dir":"E02926602","nombre":"S.G.
        de Contabilidad"}},{"cifs":[{"nif":"S2800158D"},{"nif":"S2800157F"},{"nif":"S2830209I"}],"administracion":{"nombre":"Ministerio
        de Defensa","codigo_dir":"E00003301","cifs":[]},"id":7797,"og":{"codigo_dir":"EA0002972","nombre":"Area
        Economico Administrativa de la Subdireccion General de Gestion Economica"},"ut":{"codigo_dir":"EA0002972","nombre":"Area
        Economico Administrativa de la Subdireccion General de Gestion Economica"}[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00003301/relaciones?administracion=E00003301&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"325","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:02:15 GMT
[...]
