---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921901/relaciones?administracion=E04921901&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"Q2861010C"}],"administracion":{"nombre":"Ministerio
        de Sanidad, Servicios Sociales e Igualdad","codigo_dir":"E04921901","cifs":[]},"id":11605,"og":{"codigo_dir":"E00142005","nombre":"Real
        Patronato sobre Discapacidad"},"ut":{"codigo_dir":"E00142005","nombre":"Real
        Patronato sobre Discapacidad"},"oc":{"codigo_dir":"E00142005","nombre":"Real
        Patronato sobre Discapacidad"}},{"cifs":[{"nif":"Q2827023I"}],"administracion":{"nombre":"Ministerio
        de Sanidad, Servicios Sociales e Igualdad","codigo_dir":"E04921901","cifs":[]},"id":11774,"og":{"codigo_dir":"E03175205","nombre":"Secretaria
        General"},"ut":{"codigo_dir":"EA0003159","nombre":"Gestion Economica"},"oc":{"codigo_dir":"E04919401","nombre":"Agencia
        Espa\u00f1ola de Medicamentos y Productos Sanitarios"}},{"cifs":[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921901/relaciones?administracion=E04921901&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"102","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 14:01:38 GMT
[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04921901/relaciones?administracion=E04921901&limit=25.0&page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[],"administracion":{"nombre":"Ministerio de Sanidad,
        Servicios Sociales e Igualdad","codigo_dir":"E04921901","cifs":[]},"id":60014,"og":{"codigo_dir":"E04985601","nombre":"Area
        de Organismo Notificado"},"ut":{"codigo_dir":"EA0003159","nombre":"Gestion
        Economica"},"oc":{"codigo_dir":"E04919401","nombre":"Agencia Espa\u00f1ola
        de Medicamentos y Productos Sanitarios"}},{"cifs":[{"nif":"Q2827023I"}],"administracion":{"nombre":"Ministerio
        de Sanidad, Servicios Sociales e Igualdad","codigo_dir":"E04921901","cifs":[]},"id":93107,"og":{"codigo_dir":"E03175205","nombre":"Secretaria
        General"},"ut":{"codigo_dir":"GE0017619","nombre":"Coordinaci\u00f3n General"},"oc":{"codigo_dir":"E04919401","nombre":"Agencia
        Espa\u00f1ola de Medicamentos y Productos Sanitarios"}}]}'
  recorded_at: Thu, 04 Mar 2021 14:01:43 GMT
recorded_with: VCR 6.0.0
