---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00003601/relaciones?administracion=E00003601&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"Q2801671E"}],"administracion":{"nombre":"Ministerio
        de Fomento","codigo_dir":"E00003601","cifs":[]},"id":8,"og":{"codigo_dir":"EA0000845","nombre":"SEPES
        - Entidad P\u00fablica Empresarial de Suelo"},"ut":{"codigo_dir":"EA0000845","nombre":"SEPES
        - Entidad P\u00fablica Empresarial de Suelo"},"oc":{"codigo_dir":"EA0000845","nombre":"SEPES
        - Entidad P\u00fablica Empresarial de Suelo"}},{"cifs":[{"nif":"Q2967003A"}],"administracion":{"nombre":"Ministerio
        de Fomento","codigo_dir":"E00003601","cifs":[]},"id":5507,"og":{"codigo_dir":"EA0001314","nombre":"ORGANO
        GESTOR"},"ut":{"codigo_dir":"EA0001314","nombre":"UNIDAD TRAMITADORA"},"oc":{"codigo_dir":"EA0001314","nombre":"OFICINA
        CONTABLE"}},{"cifs":[{"nif":"E04865601"},{"nif":"S2800441D"},{"nif":"Q2801615B"}],"a[...]
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E00003601/relaciones?administracion=E00003601&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"112","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Thu, 04 Mar 2021 13:59:48 GMT
[...]
