---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones?nivel=1&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"44","limit":25},"filter":{"fields":["administracion","provincia","nivel"]}}'
  recorded_at: Sat, 27 Feb 2021 19:22:39 GMT
recorded_with: VCR 6.0.0
