---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones?nivel=1&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"44","limit":25},"filter":{"fields":["administracion","provincia","nivel"]}}'
  recorded_at: Sat, 27 Feb 2021 19:19:06 GMT
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones?limit=25&nivel=1&page=1&provincia=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"codigo_dir":"E04585801","nombre_admon":"Ministerio de Asuntos
        Exteriores y de Cooperaci\u00f3n"},{"codigo_dir":"E05024101","nombre_admon":"Ministerio
        de Educaci\u00f3n y Formaci\u00f3n Profesional"},{"codigo_dir":"E04921401","nombre_admon":"Ministerio
        de Educaci\u00f3n, Cultura y Deporte"},{"codigo_dir":"E00003601","nombre_admon":"Ministerio
        de Fomento"},{"codigo_dir":"E04921301","nombre_admon":"Ministerio de Hacienda
        y Administraciones Publicas"},{"codigo_dir":"E04921601","nombre_admon":"Minis[...]
[...]
