---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04585801/relaciones?administracion=E04585801&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"S2812001B"}],"administracion":{"nombre":"Ministerio
        de Asuntos Exteriores y de Cooperaci\u00f3n","codigo_dir":"E04585801","cifs":[{"nif":"S2812001B"}]},"id":58176,"og":{"codigo_dir":"E04585801","nombre":"Ministerio
        de Asuntos Exteriores y de Cooperaci\u00f3n"},"ut":{"codigo_dir":"E04681701","nombre":"S.G.
        de Administracion Financiera"},"oc":{"codigo_dir":"GE0014059","nombre":"Oficina
        Contable. I.D. Ministerio de Asuntos Exteriores, Uni\u00f3n Europea y Coop."}},{"cifs":[{"nif":"S2812001B"},{"nif":"B2812001B"},{"nif":"S2821001B"},{"nif":"F2812001B"},{"nif":"S2811001B"},{"nif":"Q2812001B"}],"administracion":{"nombre":"Ministerio
        de Asuntos Exteriores y de Cooperaci\u00f3n","codigo_dir":"E04585801","cifs":[{"nif":"S2812001B"}]},"id":58155,"og":{"codigo_dir":"E04588601","nombre":"Subsecretaria
        de Asuntos Exterio[...]
