---
http_interactions:
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04585801/relaciones?administracion=E04585801&page=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pager":{"total":"45","limit":25},"filter":{"fields":["oc","og","ut"]}}'
  recorded_at: Sun, 28 Feb 2021 04:03:43 GMT
- request:
    method: get
    uri: https://face.gob.es/api/v2/administraciones/E04585801/relaciones?administracion=E04585801&limit=25.0&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"cifs":[{"nif":"Q2812007I"}],"administracion":{"nombre":"Ministerio
        de Asuntos Exteriores y de Cooperaci\u00f3n","codigo_dir":"E04585801","cifs":[{"nif":"S2812001B"}]},"id":2628,"og":{"codigo_dir":"EA0008537","nombre":"Vicesecretar\u00eda
        T\u00e9cnica"},"ut":{"codigo_dir":"EA0008539","nombre":"Unidad Tramitadora"},"oc":{"codigo_dir":"EA0008538","nombre":"Contabilidad"}},{"cifs":[{"nif":"S2800481J"}],"administracion":{"nombre":"Ministerio
        de Asuntos Exteriores y de Cooperaci\u00f3n","codigo_dir":"E04585801","cifs":[{"nif":"S2812001B"}]},"id":18611,"og":{"codigo_dir":"EA0003347","nombre":"Casa
        \u00c1rabe"},"ut":{"codigo_dir":"EA0003347","nombre":"Gerencia Casa \u00c1rabe"},"oc":{"codigo_dir":"EA0003347","nombre":"Casa
        \u00c1rabe"}},{"cifs":[],"administracion":{"nombre":"Ministerio de Asun[...]
[...]
